body{
  background: rgb(182,56,162);
background: -moz-linear-gradient(90deg, rgba(182,56,162,1) 0%, rgba(255,84,34,1) 40%, rgba(174,66,77,1) 66%, rgba(115,39,178,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(182,56,162,1) 0%, rgba(255,84,34,1) 40%, rgba(174,66,77,1) 66%, rgba(115,39,178,1) 100%);
background: linear-gradient(90deg, rgba(182,56,162,1) 0%, rgba(255,84,34,1) 40%, rgba(174,66,77,1) 66%, rgba(115,39,178,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b638a2",endColorstr="#7327b2",GradientType=1);
}

.title{
    margin-left: auto;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    grid-template-rows: 150px;
    grid-auto-rows: 150px;
}

.item{
    border-radius: 20px;
    border-style: dotted;
    border-color: orangered;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image" "text";
}

.item img{
    display:grid;
    width:100%;
    height:100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.links{
    display: grid;
    align-items: center;
    justify-items: center;
}

